<div class="projetos">
    <ng-container *ngFor="let i of ' '.repeat(6).split('')">
        <div class="projetos-item">
            <img class="projetos-item-img" src="assets/bg.png" alt="">
            <h3> Nome do projeto 1 </h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec felis ligula, accumsan nec cursus in, eleifend sit amet dui. </p>
            <div class="row"> 
                <a class="row-demo" href="#"> Demo </a>
                <a class="row-git"  href="#"> GitHub </a>
            </div>
        </div>
    </ng-container>
</div>