<div class="projetos">
    <ng-container *ngFor="let item of listaProjetos">
        <div class="projetos-item">
            <img class="projetos-item-img" src="{{item.img}}" alt="">
            <h3> {{item.nome}} </h3>
            <p>  {{item.descricao}}</p>
            <div class="row"> 
                <a class="row-demo" href="{{item.demo}}"   target="_blank"> Demo </a>
                <a class="row-git"  href="{{item.github}}" target="_blank"> GitHub </a>
            </div>
        </div>
    </ng-container>
</div>